
services:
  apps:
    build: ./
    command: sh -c "chmod + entrypoint.sh && sh entrypoint.sh"
    ports:
      - 8000:8000
    env_file:
      - .env
    depends_on:
      - db
    
  db:
    image: postgres:16-alpine
    volumes:
      - pgdata:/var/lib/postgresql/data
    env_file:
      - .env.db
      
  redis:
    image: redis:7-alpine
    volumes:
      - redis-data:/data
    ports:
      - 6379

  celery:
    build: ./
    command: ["celery", "-A", "config", "worker", "--loglevel=info"]
    env_file:
      - .env
    depends_on:
      - redis

volumes:
  pgdata:
  redis-data:
